---
# Manipulating the Dataset
---

---
## Dataset Manipulation with Pandas

---

This notebook demonstrates various data manipulation techniques using the pandas library with the mtcars2.csv dataset. 

The notebook starts by importing pandas and reading a CSV file containing car data into a DataFrame called 'cars'.

Various data selection methods are demonstrated:
- Column selection using `iloc` to access columns by position
- Row and column selection using both positions and ranges with `iloc`
- Row selection with column names using `loc`
- Slicing across multiple named columns

The notebook then shows data modification techniques:
- Assigning new values to columns (setting all values in 'qsec' to "Null")
- Applying functions to columns using lambda expressions (doubling all values in the 'am' column)

Next, it covers data sorting:
- Sorting by the 'cyl' column in both ascending and descending orders

Finally, the notebook demonstrates filtering operations:
- Creating boolean masks based on conditions
- Filtering rows based on single conditions (cylinder count > 2)
- Filtering with multiple conditions using logical operators (cylinder count > 2 AND horsepower > 300)

The dataset contains 32 car records with 13 columns including metrics like miles per gallon (mpg), number of cylinders, displacement, horsepower, and various other performance measurements.

---

In [21]:
import pandas as pd   # importing pandas

In [22]:
cars = pd.read_csv("mtcars2.csv")     # open the CSV file
cars

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [23]:
cars.iloc[:,11]          # select the 12th column for diplaying

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: int64

In [24]:
cars.iloc[:,:]   # display all rows and columns

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [25]:
cars.iloc[6:,4:]           # displaying rows 6 to end, columns 4 to end

     disp   hp  drat     wt   qsec  vs  am  gear  carb
6   360.0  245  3.21  3.570  15.84   0   0     3     4
7   146.7   62  3.69  3.190  20.00   1   0     4     2
8   140.8   95  3.92  3.150  22.90   1   0     4     2
9   167.6  123  3.92  3.440  18.30   1   0     4     4
10  167.6  123  3.92  3.440  18.90   1   0     4     4
11  275.8  180  3.07  4.070  17.40   0   0     3     3
12  275.8  180  3.07  3.730  17.60   0   0     3     3
13  275.8  180  3.07  3.780  18.00   0   0     3     3
14  472.0  205  2.93  5.250  17.98   0   0     3     4
15  460.0  215  3.00  5.424  17.82   0   0     3     4
16  440.0  230  3.23  5.345  17.42   0   0     3     4
17   78.7   66  4.08  2.200    NaN   1   1     4     1
18   75.7   52  4.93  1.615  18.52   1   1     4     2
19   71.1   65  4.22  1.835  19.90   1   1     4     1
20  120.1   97  3.70  2.465  20.01   1   0     3     1
21  318.0  150  2.76  3.520  16.87   0   0     3     2
22  304.0  150  3.15  3.435  17.30   0   0     3     2
23  350.0  245  3.73  3.840  15.41   0   0     3     4
24  400.0  175  3.08  3.845  17.05   0   0     3     2
25   79.0   66  4.08  1.935    NaN   1   1     4     1
26  120.3   91  4.43  2.140  16.70   0   1     5     2
27   95.1  113  3.77  1.513  16.90   1   1     5     2
28  351.0  264  4.22  3.170  14.50   0   1     5     4
29  145.0  175  3.62  2.770  15.50   0   1     5     6
30  301.0  335  3.54  3.570  14.60   0   1     5     8
31  121.0  109  4.11  2.780  18.60   1   1     4     2

In [26]:
cars.loc[:6,"mpg"]    # getting the first 6 rows of the mpg column

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
5    18.1
6    14.3
Name: mpg, dtype: float64

In [27]:
cars.loc[:6,"mpg":"qsec"]     # slicing by column names from mpg to qsec

    mpg  cyl   disp   hp  drat     wt   qsec
0  21.0    6  160.0  110  3.90  2.620  16.46
1  21.0    6  160.0  110  3.90  2.875  17.02
2  22.8    4  108.0   93  3.85  2.320  18.61
3  21.4    6  258.0  110  3.08  3.215  19.44
4  18.7    8  360.0  175  3.15  3.440  17.02
5  18.1    6  225.0  105  2.76  3.460    NaN
6  14.3    8  360.0  245  3.21  3.570  15.84

In [28]:
cars["qsec"] = "Null"       # set all values to Null of the column qsec
cars

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,Null,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,Null,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,Null,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,Null,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,Null,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,Null,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,Null,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,Null,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,Null,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,Null,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,Null,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,Null,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,Null,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,Null,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,Null,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,Null,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,Null,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,Null,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,Null,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,Null,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,Null,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,Null,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,Null,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,Null,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,Null,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,Null,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,Null,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,Null,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,Null,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,Null,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,Null,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,Null,1,1,4,2

In [29]:
f = lambda x : x*2                  # lambda function for multiplying by 2
cars["am"] = cars["am"].apply(f)    # passing function for applying to column
cars

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,Null,0,2,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,Null,0,2,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,Null,1,2,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,Null,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,Null,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,Null,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,Null,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,Null,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,Null,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,Null,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,Null,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,Null,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,Null,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,Null,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,Null,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,Null,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,Null,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,Null,1,2,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,Null,1,2,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,Null,1,2,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,Null,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,Null,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,Null,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,Null,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,Null,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,Null,1,2,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,Null,0,2,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,Null,1,2,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,Null,0,2,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,Null,0,2,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,Null,0,2,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,Null,1,2,4,2

In [30]:
cars.sort_values(by="cyl")     # sorting the dataframe by column cyl in accending order

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,Null,1,2,4,1
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,Null,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,Null,1,0,4,2
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,Null,1,2,4,2
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,Null,1,0,3,1
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,Null,1,2,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,Null,1,2,4,2
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,Null,1,2,4,1
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,Null,1,2,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,Null,0,2,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,Null,1,2,5,2
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,Null,0,2,4,4
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,Null,1,0,3,1
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,Null,1,0,3,1
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,Null,1,0,4,4
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,Null,0,2,4,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,Null,0,2,5,6
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,Null,1,0,4,4
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,Null,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,Null,0,0,3,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,Null,0,0,3,3
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,Null,0,0,3,4
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,Null,0,0,3,2
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,Null,0,0,3,3
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,Null,0,0,3,4
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,Null,0,0,3,2
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,Null,0,0,3,2
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,Null,0,0,3,4
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,Null,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,Null,0,0,3,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,Null,0,2,5,4
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,Null,0,2,5,8

In [31]:
cars.sort_values(by="cyl", ascending=False)        # sort in descending order

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,Null,0,0,3,4
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,Null,0,0,3,2
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,Null,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,Null,0,0,3,4
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,Null,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,Null,0,0,3,3
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,Null,0,0,3,3
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,Null,0,0,3,4
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,Null,0,0,3,2
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,Null,0,0,3,2
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,Null,0,2,5,8
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,Null,0,2,5,4
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,Null,0,0,3,4
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,Null,0,0,3,2
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,Null,0,2,4,4
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,Null,0,2,4,4
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,Null,1,0,3,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,Null,1,0,3,1
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,Null,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,Null,1,0,4,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,Null,0,2,5,6
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,Null,1,0,4,2
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,Null,1,2,4,1
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,Null,1,0,4,2
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,Null,1,0,3,1
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,Null,1,2,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,Null,1,2,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,Null,1,2,4,1
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,Null,1,2,5,2
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,Null,0,2,5,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,Null,1,2,4,1
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,Null,1,2,4,2

In [32]:
cars['cyl'] > 6            # this is a condition which print true or false based on the data and condition

0     False
1     False
2     False
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24     True
25    False
26    False
27    False
28     True
29    False
30     True
31    False
Name: cyl, dtype: bool

In [33]:
filter1 = cars['cyl'] > 2           # filter1 is a single condition filter
filtered_new = cars[filter1]        # filter1 is a filtered dataframe
filtered_new

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,Null,0,2,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,Null,0,2,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,Null,1,2,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,Null,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,Null,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,Null,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,Null,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,Null,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,Null,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,Null,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,Null,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,Null,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,Null,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,Null,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,Null,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,Null,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,Null,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,Null,1,2,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,Null,1,2,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,Null,1,2,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,Null,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,Null,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,Null,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,Null,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,Null,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,Null,1,2,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,Null,0,2,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,Null,1,2,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,Null,0,2,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,Null,0,2,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,Null,0,2,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,Null,1,2,4,2

In [34]:
filter1 = (cars['cyl'] > 2) & (cars["hp"] > 300)  # two conditions for filteing the data
filtered_HP = cars[filter1]                       # filtered data
filtered_HP

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.57,Null,0,2,5,8

---